.DS_Store
.gitignore
.gitlab-ci.yml
.npmignore
.npmrc
.prettierrc
.prettierignore
.husky
.storybook

commitlint.config.js
release.config.js
postcss.config.js
git-last-tag.sh
vite.config.js
tsconfig.json
utils
style-dictionary
src
public
**/__mockdata__/*
